
<div class="container-fluid">
    <!-- Modal -->
    <div class="modal fade" id="modalHome" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Informações</h4>
                </div>
                <div class="modal-body">
                    O CIBiogás (Centro Internacional de Energias Renováveis–Biogás) é uma instituição científica,
                    tecnológica e de inovação, em forma de pessoa jurídica de direito privado, constituído como associação sem
                    fins lucrativos, autonomia administrativa e financeira, regida por um estatuto.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <h2>Centro Internacional de Energias Renováveis</h2>
        <p>O Centro é formado por 16 instituições que desenvolvem e/ou apoiam projetos relacionados às energias renováveis.</p>
        <p><a type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalHome">Mais informações</a></p>
    </div>
</div>